/* STYLE: vars */
:root {
    --color__grey-1: #60777C;
    --color__grey-2: #aaaaaa;
    --color__grey-3: #ebebeb;
    --color__black-1: #000000;
    --color__white-1: #e5e5e5;
    --color__black-2: #1a1a1a;
    --color__white-2: #ffffff;
    --color__blue: #0074c2;
    --color__white__alpha: rgba(255, 255, 255, 0.27);
    --shadow__hover: 0.75rem 1.25rem 2.5rem rgba(97, 49, 0, 0.2);
}


/* !STYLE: vars */

/* NOTE: font-face */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        local('Roboto Regular'),
        url(../fonts/Roboto-Regular.woff2) format('woff2'),
        url(../fonts/Roboto-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'),
        local('Roboto Bold'),
        url(../fonts/Roboto-Bold.woff2) format('woff2'),
        url(../fonts/Roboto-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Black'),
        local('Roboto Black'),
        url(../fonts/Roboto-Black.woff2) format('woff2'),
        url(../fonts/Roboto-Black.woff) format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'),
        local('Roboto Medium'),
        url(../fonts/Roboto-Medium.woff2) format('woff2'),
        url(../fonts/Roboto-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* STYLE: global */
body {
    min-height: 200vh;
    font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* !STYLE: global */

/* STYLE: btn */
.btn {
    padding: 1.25em 2em;
    line-height: 1;
    border: 1px solid var(--border-color);
    border-radius: 0em;
    cursor: pointer;
    background-color: var(--bg-color);
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: all 0.24s;
    transform-origin: center;
    color: var(--text-color);
    --border-color: var(--color__white-1);
    --text-color: var(--color__black-1);
    --bg-color: var(--color__white-2)
}

.btn.--secondary {
    --border-color: var(--color__white-1);
    --bg-color: var(--color__white-2);
}

.btn:hover {
    --bg-color: var(--color__grey-1);
    --text-color: var(--color__white-2);
}

.btn.--secondary:hover {
    --text-color: var(--color__black-1);
    --border-color: var(--color__white-1);
}

.btn:focus {
    outline: transparent;
}

.btn:focus-visible {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.btn:disabled {
    --text-color: var(--color__black-2);
    --border-color: var(--color__grey-2);
    --bg-color: var(--color__white-1);
}



/* !STYLE: btn */

/* STYLE: text-field */
.text-field {}

.text-field__label {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
}

.text-field__input {
    margin-top: 1em;
    border: 1px solid var(--color__black-2);
    background-color: var(--color__black-1);
    border-radius: 0.75em;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: all 0.24s;
}

.text-field__input:hover {
    transform: scale(1.05);
}

.text-field__input:focus {
    outline: transparent;
}

.text-field__input:focus-visible {
    border-color: var(--color__grey-2);
    outline-color: 1px solid var(--color__grey-2);
}

.text-field__input:disabled {
    background-color: var(--color__white-1);
}


.text-field__input::placeholder {
    color: var(--color__grey-1);
}

/* !STYLE: text-field*/



.page-wrapper {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.page-inner {
    flex: 1 1 100%;
    width: 100%;
    position: relative;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
}

/* STYLE: topbar*/

.topbar {
    padding: 0.75rem 0;
    background-color: var(--color__black-1);
    position: sticky;
    top: 0;
    transform: translateY(0);
    transition: transform 0.5s;
    z-index: 5;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.--just-center {
    justify-content: center;
}

.--just-space {
    justify-content: space-between;
}

.--just-end {
    justify-content: flex-end;
}

.--align-str {
    align-items: stretch;
}

.--align-center {
    align-items: center;
}

.--align-end {
    align-items: flex-end;
}

.logo {
    display: block;
}

.topbar__logo {
    width: 13.75rem;
    height: 2rem;
}

.logo__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.menu {}

.topbar__menu {}

.menu__list {
    list-style: none;
    padding: 0;

}

.menu__item {}

.menu__item+.menu__item {
    margin-left: 3.25rem;
}

.menu__link {}

.link {
    color: var(--color__white-2);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.24s;
    display: block;

}

.link:hover {
    transform: scale(1.1);
}

.link:focus {
    outline: transparent;
}

.link:focus-visible {
    text-decoration: underline;
}

.link:active {
    transform: scale(0.9);
}

.topbar__buttons {}

.topbar__btn {}

.topbar__btn+.topbar__btn {
    margin-left: 3.25rem;
}

/* STYLE: header*/
.header {
    min-height: 100vh;
    background-image: url(../img/headerbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.header__inner {
    flex-direction: column;
    min-height: 100vh;
    max-width: 31.25rem;

}

.header__links-wrapper {}

.header__link+.header__link {
    margin-left: 3.25rem;
}



.header__title {
    margin-top: 0.75rem;
    font-size: 4.5rem;
    color: var(--color__white-2);
    font-weight: 400;
    line-height: 1;
}

.header__text {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: var(--color__white-2);
    line-height: 1.2;


}

.header__btn {
    margin-top: 3rem;

}

/* !STYLE: header */


.section-title {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: normal;
    color: var(--color__white-2);

}

.piano {
    background-position: center;
    background-image: url(../img/mainpiano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.piano__inner {
    height: 30rem;
    max-width: 24rem;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

.piano__title {}

.piano__text {
    margin-top: 1.25rem;
    color: var(--color__white-2);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2rem;
}

.piano__link {
    margin-top: 1.25rem;
    text-decoration: underline;
}

.allgrey {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    background-color: var(--color__grey-1);

}

.allgrey__head {
    max-width: 40rem;
    margin: 0 auto;
}

.allgrey__inner {
    margin-top: 7.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
}

.allgrey__title {
    color: var(--color__white-2);
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;

}

.allgrey__text {
    padding-top: 1.5rem;
    color: var(--color__white-2);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2rem;


}

.allgrey__item {}

.allgrey__item:nth-child(even) {
    flex-direction: row-reverse;
}

.allgrey__item+.allgrey__item {
    margin-top: 7.5rem;
}

.allgrey__item-wrapper {
    flex: 0 1 33.75rem;
    color: var(--color__white-2);
    margin-right: 2rem;
}

.allgrey__item:nth-child(even) .allgrey__item-wrapper {
    margin-left: 2rem;
    margin-right: 0;
}

.allgrey__item-title {
    font-size: 2.5rem;
    font-weight 400;

}

.allgrey__item-text {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.2rem;

}

.allgrey__item-pic {
    height: 25.5rem;
    flex: 0 1 41.25rem;
}

.allgrey__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* STYLE: niger */
.niger {
    background-color: var(--color__white-2);

}

.niger__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
}


.niger__pic {
    height: 36.5rem;
    flex: 0 1 41.25rem;
}

.niger__title {
    font-size: 3.5rem;
    font-weight: normal;
}

.niger__text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
}

.niger__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.niger__wrapper {
    flex: 0 1 24rem;
    margin-right: 2rem;
}

/* !STYLE: niger */

/* STYLE:yoga */

.yoga {
    background-color: var(--color__grey-1);
    padding: 5rem 0;
    color: var(--color__white-2);
}

.yoga__inner {
    min-width: 90rem;
    margin: 0 auto;

}

.yoga__content {
    flex: 0 1 34rem;
    flex-direction: column;
    margin-right: 2rem;

    padding-bottom: 3rem;
}

.yoga__text {
    font-size: 1.75rem;
}

.yoga__author {
    margin-top: auto;
    font-weight: 300;
    text-transform: uppercase;
}

.yoga__link {
    margin-top: 0.75rem;
    display: block;
    color: var(--color__white__alpha);
    transition: color 0.24s;
    text-transform: uppercase;
}

.yoga__link:hover {
    color: var(--color__white-2);
}

.yoga__slider {
    flex: 0 1 41.25rem;
    min-width: 1rem;
}

.yoga__slider .swiper {}

.yoga__slider .swiper-wraper {}

.yoga__slider .swiper-slide {
    height: 25.75rem;
}

.yoga__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.yoga__slider .swiper-pagination {
    position: static;
    width: auto;
}

.yoga__slider .swiper-bottom {
    margin-top: 1rem;
}

.yoga__slider .swiper-button {
    position: static;
    display: block;
    height: 2rem;
    width: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    transition: all 0.24s;
}

.yoga__slider .swiper-button::after {
    display: none;
}

.yoga__slider .swiper-button-prev {
    margin-left: 1.5rem;
    background-image: url(../img/erl-left.svg);
}

.yoga__slider .swiper-button-next {
    margin-left: 0.75rem;
    background-image: url(../img/erl.svg);
}



/* !STYLE:yoga */

/* STYLE: point */
.point {}

.point__head {
    max-width: 40rem;
    margin: 0 auto;
}

.point__title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;
    padding-top: 4rem;

}

.point__text {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2rem;
    padding-top: 1.5rem;
}

.point__link {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color__black-1);
    display: block;
    width: fit-content;
    margin: 1.25rem auto 0;
    transition: color 0.24s;
    position: relative;
    padding-right: 1.5em;

}

.point__link-icon {
    position: absolute;
    fill: var(--color__black-1);
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    width: 1em;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: fill 0.24s;


}

.point__link:hover {
    color: var(--color__grey-1);
}

.point__link:hover .point__link-icon {
    fill: var(--color__grey-1);
}

.point__img {
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}

.point__slider {
    margin-top: 4rem;
}

.point__slider .swiper {}

.point__slider .swiper-wrapper {}

.point__slider .swiper-slide {
    height: 24rem;
    width: 34rem;
    flex-direction: column;
    margin: 0;
}

.point__image {
    flex: 1 1 100%;
    height: 21.5rem;
    width: 100%;
}

.point__figcap {
    flex: 0 0 auto;
    display: block;
    margin-top: 0.75rem;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.point__slider .swiper-pagination-fraction {
    bottom: 0;
    left: auto;
    width: auto;
    right: 0;
}



/* !STYLE: point */

/* STYLE: member */

.member {
    margin-top: 5rem;
    padding: 4.75rem 0;
    background-color: var(--color__black-1);
}

.member__inner {
    color: var(--color__white-2);
    max-width: 84rem;
    margin: 0 auto;

}

.member__item-wrapper {
    flex: 0 1 32.5rem;
}


.member__title {
    font-size: 3.5rem;
    font-weight: normal;

}

.member__link {
    display: inline-block;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
    color: var(--color__white-2);
    transition: color 0.24s;
    padding-right: 1.5em;
    position: relative;

}

.member__link-icon {
    position: absolute;
    fill: var(--color__white-2);
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    width: 1em;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: fill 0.24s;
}

.member__link:hover {
    color: var(--color__grey-1);
}

.member__link:hover .member__link-icon {
    fill: var(--color__grey-1);
}

.member__list {
    list-style-type: decimal-leading-zero;
    flex: 0 1 34.5rem;
    margin-left: 2rem;
}

.member__text {
    padding: 1rem;
    font-size: 1.25rem;
}


/* !STYLE: member */

/* STYLE: pricing */
.pricing {
    padding: 5rem 0;
}

.pricing__inner {}

.pricing__title {
    font-size: 2.5rem;
    min-width: 17.75rem;
    color: var(--color__black-1);
}

.pricing__descr {
    min-width: 17.75rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

.pricing__pricing {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    margin-top: 3.5rem;

}

.pricing__pricing-switcher {}

.pricing__switcher-item {
    display: block;
    width: fit-content;
    cursor: pointer;
}

.pricing__switcher-item+.pricing__switcher-item {
    margin-top: 0.75rem;
}

.pricing__radio {}

.pricing__switcher-descr {
    color: var(--color__grey-2);
    transition: color 0.24s;
}

.pricing__switcher-sup {
    color: var(--color__blue);
}

.pricing__radio:checked~.pricing__switcher-descr {
    color: var(--color__black-1);
}

.pricing__plan {
    max-width: 4.75rem;
    text-align: center;
    justify-self: center;
}

.pricing__plan-title {}

.pricing__plan-sum {
    display: block;
    text-align: center;

}

.pricing__plan-price {
    display: block;
    font-size: 2rem;
    position: relative;
    width: fit-content;
    margin: 1rem auto 0;
}

.pricing__plan-price::before {
    content: "$";
    position: absolute;
    right: 100%;
    top: 0.25rem;
    font-size: 0.75rem;
}


.pricing__plan-sum-sub {
    display: block;
    margin-top: 0.25rem;

}

.pricing__plan-sum-discount {
    display: block;
    font-size: 0.75rem;
    color: var(--color__blue);
    margin-top: 0.25rem;
}

.pricing__contain-title {
    grid-column: 1 / -1;
    margin-top: 3.75rem;
    font-size: 0.75rem;
    opacity: 0.5;
    text-transform: uppercase;
}

.pricing__plan-contain-item {
    padding: 0.75rem 0 1rem;
    border-bottom: 1px solid var(--color__grey-3);
}

.pricing__contain-point {
    padding: 0.75rem 0 1rem;
    text-align: center;
    border-bottom: 1px solid var(--color__grey-3);
}

.pricing__head {
    padding: 4rem 0;
    font-size: 1.75rem;

}

.pricing__list {
    list-style-type: "✔️";
    column-count: 2;
    column-gap: 4.75rem;
    right: 0;
    margin: 2.5rem 0 0 auto;
    max-width: 56rem;
}

.pricing__text {
    font-size: 1.25rem;
    max-width: 21.75rem;
    padding-left: 1rem;
}

.pricing__text+.pricing__text {
    margin-top: 1rem;
}

/* !STYLE: pricing */

/* STYLE: faq */
.faq {
    background-color: var(--color__black-1);
    padding: 5rem 0;
}

.faq__title {
    text-align: center;
    max-width: 21rem;
    margin: 0 auto;
    font-size: 2.5rem;
}

.faq__inner {
    margin-top: 2.75rem;
    color: var(--color__white-2);
}

.faq__item {
    padding: 1.5rem 0 1.25rem;
    border-color: var(--color__grey-2);
    border-width: 1px 0;
    border-style: solid;
    max-width: 55.5rem;
    margin: 0 auto;
}

.faq__item-title {
    font-size: 1.5em;
    line-height: 1.2;
    cursor: pointer;
    appearance: none;
    padding: 0 3rem 0 0;
    list-style: none;
    position: relative;
}

.faq__item-title::marker,
.faq__item-title::-webkit-details-marker {
    display: none;
}

.faq__item-title::before,
.faq__item-title::after {
    content: "";
    height: 2px;
    width: 1.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: var(--color__white-2);
}

.faq__item-title::before {
    transform: translateY(-50%);
}

.faq__item-title::after {
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.24s;
}

.faq__item[open] .faq__item-title::after {
    transform: translateY(-50%) rotate(0);
    opacity: 0;
}

.faq__item-content {
    margin-top: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.24s;
}

.faq__item-text {
    line-height: 1.25;
}

.faq__item-text+.faq__item-text {
    margin-top: 1em;
}

/* !STYLE: faq */

/* STYLE: support */
.support {
    padding: 5rem 0;
    background-color: var(--color__black-1);
}

.support__inner {}

.support__tabs {
    flex: 0 1 100%;
}

.support__tab {
    display: none;
    opacity: 0;
    transition: all 0.24s;
}

.support__tab-content {}

.support__form {}

.support__form-field {
    display: block;
}

.support__input.--text {}

.support__btn {}

.support__descr {
    margin-left: 2rem;
    flex: 0 1 34rem;
    flex-direction: column;
}

.support__title {}

.support__text {
    color: var(--color__white-2);
    margin-top: 1.5em;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.support__tab-btn {
    margin-top: 1rem;
}

/* !STYLE: support */

/* STYLE: platform */

.platform {
    background-color: var(--color__black-1);
    border-color: var(--color__grey-2);
    border-width: 1px 0;
    border-style: solid;
}

.platform__inner {
    padding: 4.5rem 0;
}

.platform__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    max-width: 45.25rem;
}

.platform__btn {}

/* !STYLE: platform */

/* STYLE:footer */

.footer {
    background-color: var(--color__black-1);
    padding: 5rem 0;

}

.footer__inner {}

.footer__item {}

.footer__pic {}

.footer__btn {
    padding-bottom: 1.5rem;
}

.footer__title {
    color: var(--color__white-1);
    margin-bottom: 1.5rem;
}

.footer__text {
    color: var(--color__white-1);
}

.footer__title+.footer__title {
    margin-right: 7.5rem;
}

.footer__text+.footer__text {
    margin-right: 3.25rem;
}

/* !STYLE: footer */