/* STYLE: vars */
:root {
    --color__grey-1: #60777C;
    --color__grey-2: #aaaaaa;
    --color__black-1: #000000;
    --color__white-1: #e5e5e5;
    --color__black-2: #1a1a1a;
    --color__white-2: #ffffff;
    --shadow__hover: 0.75rem 1.25rem 2.5rem rgba(97, 49, 0, 0.2);
}


/* !STYLE: vars */

/* NOTE: font-face */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        local('Roboto Regular'),
        url(../fonts/Roboto-Regular.woff2) format('woff2'),
        url(../fonts/Roboto-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'),
        local('Roboto Bold'),
        url(../fonts/Roboto-Bold.woff2) format('woff2'),
        url(../fonts/Roboto-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Black'),
        local('Roboto Black'),
        url(../fonts/Roboto-Black.woff2) format('woff2'),
        url(../fonts/Roboto-Black.woff) format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'),
        local('Roboto Medium'),
        url(../fonts/Roboto-Medium.woff2) format('woff2'),
        url(../fonts/Roboto-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* STYLE: global */
body {
    min-height: 200vh;
    font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* !STYLE: global */

/* STYLE: btn */
.btn {
    padding: 1.25em 2em;
    line-height: 1;
    border: 1px solid var(--border-color);
    border-radius: 0em;
    cursor: pointer;
    background-color: var(--bg-color);
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: all 0.24s;
    transform-origin: center;
    color: var(--text-color);
    --border-color: var(--color__white-1);
    --text-color: var(--color__black-1);
    --bg-color: var(--color__white-2)
}

.btn.--secondary {
    --border-color: var(--color__white-1);
    --bg-color: var(--color__white-2);
}

.btn:hover {
    --bg-color: var(--color__grey-1);
    --text-color: var(--color__white-2);
}

.btn.--secondary:hover {
    --text-color: var(--color__black-1);
    --border-color: var(--color__white-1);
}

.btn:focus {
    outline: transparent;
}

.btn:focus-visible {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.btn:disabled {
    --text-color: var(--color__black-2);
    --border-color: var(--color__grey-2);
    --bg-color: var(--color__white-1);
}



/* !STYLE: btn */

/* STYLE: text-field */
.text-field {}

.text-field__label {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
}

.text-field__input {
    margin-top: 1em;
    border: 1px solid var(--color__black-2);
    background-color: var(--color__black-1);
    border-radius: 0.75em;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: all 0.24s;
}

.text-field__input:hover {
    transform: scale(1.05);
}

.text-field__input:focus {
    outline: transparent;
}

.text-field__input:focus-visible {
    border-color: var(--color__grey-2);
    outline-color: 1px solid var(--color__grey-2);
}

.text-field__input:disabled {
    background-color: var(--color__white-1);
}


.text-field__input::placeholder {
    color: var(--color__grey-1);
}

/* !STYLE: text-field*/



.page-wrapper {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.page-inner {
    flex: 1 1 100%;
    width: 100%;
    position: relative;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
}

/* STYLE: topbar*/

.topbar {
    padding: 0.75rem 0;
    background-color: var(--color__black-1);
    position: sticky;
    top: 0;
    transform: translateY(0);
    transition: transform 0.5s;
    z-index: 5;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.--just-center {
    justify-content: center;
}

.--just-space {
    justify-content: space-between;
}

.--just-end {
    justify-content: flex-end;
}

.--align-str {
    align-items: stretch;
}

.--align-center {
    align-items: center;
}

.--align-end {
    align-items: flex-end;
}

.logo {
    display: block;
}

.topbar__logo {
    width: 13.75rem;
    height: 2rem;
}

.logo__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.menu {}

.topbar__menu {}

.menu__list {
    list-style: none;
    padding: 0;

}

.menu__item {}

.menu__item+.menu__item {
    margin-left: 3.25rem;
}

.menu__link {}

.link {
    color: var(--color__white-2);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.24s;
    display: block;

}

.link:hover {
    transform: scale(1.1);
}

.link:focus {
    outline: transparent;
}

.link:focus-visible {
    text-decoration: underline;
}

.link:active {
    transform: scale(0.9);
}

.topbar__buttons {}

.topbar__btn {}

.topbar__btn+.topbar__btn {
    margin-left: 3.25rem;
}

/* STYLE: header*/
.header {
    min-height: 100vh;
    background-image: url(../img/headerbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.header__inner {
    flex-direction: column;
    min-height: 100vh;
    max-width: 31.25rem;

}

.header__links-wrapper {}

.header__link+.header__link {
    margin-left: 3.25rem;
}



.header__title {
    margin-top: 0.75rem;
    font-size: 4.5rem;
    color: var(--color__white-2);
    font-weight: 400;
    line-height: 1;
}

.header__text {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: var(--color__white-2);
    line-height: 1.2;


}

.header__btn {
    margin-top: 3rem;

}

/* !STYLE: header */


.section-title {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: normal;
    color: var(--color__white-2);

}

.piano {
    background-position: center;
    background-image: url(../img/mainpiano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.piano__inner {
    height: 30rem;
    max-width: 24rem;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

.piano__title {}

.piano__text {
    margin-top: 1.25rem;
    color: var(--color__white-2);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2rem;
}

.piano__link {
    margin-top: 1.25rem;
    text-decoration: underline;
}

.allgrey {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    background-color: var(--color__grey-1);

}

.allgrey__head {
    max-width: 40rem;
    margin: 0 auto;
}

.allgrey__inner {
    margin-top: 7.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
}

.allgrey__title {
    color: var(--color__white-2);
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;

}

.allgrey__text {
    padding-top: 1.5rem;
    color: var(--color__white-2);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2rem;


}

.allgrey__item {}

.allgrey__item:nth-child(even) {
    flex-direction: row-reverse;
}

.allgrey__item+.allgrey__item {
    margin-top: 7.5rem;
}

.allgrey__item-wrapper {
    flex: 0 1 33.75rem;
    color: var(--color__white-2);
    margin-right: 2rem;
}

.allgrey__item:nth-child(even) .allgrey__item-wrapper {
    margin-left: 2rem;
    margin-right: 0;
}

.allgrey__item-title {
    font-size: 2.5rem;
    font-weight 400;

}

.allgrey__item-text {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.2rem;

}

.allgrey__item-pic {
    height: 25.5rem;
    flex: 0 1 41.25rem;
}

.allgrey__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.niger {
    background-color: var(--color__white-2);

}

.niger__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
}


.niger__pic {
    height: 148.5rem;
    flex: 0 1 41.25rem;
}

.niger__title {
    font-size: 3.5rem;
    font-weight: normal;
}

.niger__text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
}

.niger__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.niger__wrapper {
    flex: 0 1 24rem;
    margin-right: 2rem;
}